ol {
    padding-left: 0;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .carto-carousel {
        flex-basis: 50%;
    }
    
    .carto-etape {
        flex-basis: 50%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .carto-carousel {
        flex-basis: 100%;
    }
    
    .carto-etape {
        flex-basis: 100%;
    }
}
