.wrapper-field-etape-create {
    margin-bottom: 20px;
}

.submit-etape-create {
    margin-bottom: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .wrapper-form-etape-create {
        flex-direction: column;
        flex-basis: 50%;
    }

    .form-etape-create {
        /* flex-basis: 50%; */
        flex-direction: column;
        padding-right: 10px;
    }

    .etape-create-form-label {
        flex-basis: 50%;
    }

    .etape-create-form-input {
        flex-basis: 50%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .wrapper-form-etape-create {
        flex-direction: column;
        flex-basis: 100%;
    }

    .form-etape-create {
        /* flex-basis: 100%; */
        flex-direction: column;
    }

    .etape-create-form-label {
        flex-basis: 100%;
    }

    .etape-create-form-input {
        flex-basis: 100%;
    }
}
