/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .part-item {
        flex-basis: 15%;
    }

    .partenaires {
        flex-basis: 75%;
    }
    
    .contact {
        flex-basis: 25%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .part-item {
        flex-basis: 48%;
    }

    .partenaires {
        flex-basis: 100%;
    }
    
    .contact {
        flex-basis: 100%;
    }
}