#root{
	background-color: red;
}

.grid-container {
	display: grid;
	grid-template-columns: 100%;
}

.travels-item {
	margin-left: 15px;
	margin-right: 15px;
}

.carousel {
	flex-basis: 100%;
}

.selected {
	background-color:  #9ecc2c;
	color: whitesmoke;
}