.wrapper-field-option-create {
    margin-bottom: 20px;
}

.submit-option-create {
    margin-bottom: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .wrapper-form-option-create {
        flex-direction: column;
        flex-basis: 50%;
    }

    .form-option-create {
        /* flex-basis: 50%; */
        flex-direction: column;
        padding-left: 10px;
    }

    .option-create-form-label {
        flex-basis: 50%;
    }

    .option-create-form-input {
        flex-basis: 50%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .wrapper-form-option-create {
        flex-direction: column;
        flex-basis: 100%;
    }

    .form-option-create {
        /* flex-basis: 100%; */
        flex-direction: column;
    }

    .option-create-form-label {
        flex-basis: 100%;
    }

    .option-create-form-input {
        flex-basis: 100%;
    }
}
