.wrapper-details {  
    margin-left: 15px;
	margin-right: 15px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .travel-carousel {
        flex-basis: 50%;
    }
    
    .description {
     flex-basis: 50%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .travel-carousel {
        flex-basis: 100%;
    }
    
    .description {
     flex-basis: 100%;
    }
}
