/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .option {
        flex-basis: 25%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .option {
        flex-basis: 100%;
    }
}