.d-flex {
    display: flex;
}

.img-sized {
    width: 100%;
    height: auto;
}

.wrapper-data {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .wrapper-img-lead {
        flex-basis: 50%;
    }

    .wrapper-data-lead {
        font-size: 1.5rem;
    }

    .wrapper-wrapper-data {
        flex-basis: 50%;
        justify-content: center;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .wrapper-img-lead {
        flex-basis: 100%;
    }

    .wrapper-wrapper-data {
        flex-basis: 100%;
        justify-content: center;
    }
}