.wrapper-img {
    flex-basis: 50%;
}

.wrapper-data {
    flex-basis: 50%;
}

.nav-link {
    padding: 0;
}

.mbottom-2 {
    margin-bottom: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .nav-link {
        padding: 0;
        flex-basis: 50%;
    }

    .pair {
        margin-left: 10px;
    }

    .odd {
        margin-right: 10px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .nav-link {
        padding: 0;
        flex-basis: 100%;
    }

    .pair {
        margin-left: 0;
    }

    .odd {
        margin-right: 0;
    }
}