.submit-voyage-creation {
    margin-bottom: 20px;
}

.title-mb-2 {
    margin-bottom: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .wrapper-inputs-form-voyage-create {
        justify-content: space-between;
    }
    
    .form-voyage-create-left {
        flex-basis: 50%;
        padding-right: 10px;
    }
    
    .form-voyage-create-right {
        flex-basis: 50%;
        padding-left: 10px;
    }
    
    .wraper-field-form-voyage-create {
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .voyage-create-form-label {
        flex-basis: 50%;
    }
    
    .voyage-create-form-input {
        flex-basis: 50%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .form-voyage-create-left {
        flex-basis: 100%;
    }
    
    .form-voyage-create-right {
        flex-basis: 100%;
    }
    
    .wraper-field-form-voyage-create {
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .voyage-create-form-label {
        flex-basis: 100%;
    }
    
    .voyage-create-form-input {
        flex-basis: 100%;
    }
}